.container {
  overflow-x: hidden;
}

.navigationBar {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: column;
  gap: 0.5rem;

  position: fixed;

  top: 50%;
  right: 0%;

  transform: translateY(-50%);
}
